<div class="error-page">
  <div class="error-content">
    <div class="error-icon">😕</div>
    <h1>Oops!</h1>
    <p class="error-message">{{message}}</p>
    {{#if error}}
    <p class="error-details">{{error}}</p>
    {{/if}}
    <div class="error-actions">
      <a href="/" class="btn btn-primary">Go Home</a>
      <a href="/catalog" class="btn btn-outline">Browse Marbles</a>
    </div>
  </div>
</div>

